{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-5 m-4 p-2">
      <p>forgotten your pasword ? Enter your email adddress below and we'll email instructions for settings a new one </p>
     <h3>Password Reset</h3>
    <form action="" method="POST" class="p-2 m-2">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary m-2" name="Send email">
       send
      </button>
    </form>
    

  </div>
</div>


{% endblock %}