{% block extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Password reset sent</h3>

      <p>We've emailed you instrcuction for setting your password , if an account exist witht the email 
        you Entered, you should recive them shortly 
      </p>

      <p>if youi dont recive and email, please make sure you've entered the address you registered with the , and check your spam folder </p>
    </div>
  </div>
</div>

{% endblock %}